// Pawsey Setonix nf-core configuration profile
params {
    config_profile_description = 'Pawsey Setonix HPC profile provided by nf-core/configs'
    config_profile_contact = 'Sarah Beecroft (@SarahBeecroft), Georgie Samaha (@georgiesamaha)'
    config_profile_url = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'
    max_cpus = 64
    max_memory = 230.Gb
    max_time = 24.h
}
 
// Enable use of Singularity to run containers
singularity {
    enabled = true
    autoMounts = true
    autoCleanUp = true
    runOptions = "-B /scratch/pawsey0933:/scratch/pawsey0933 -B /software/projects/pawsey0933:/software/projects/pawsey0933"
    cacheDir = "/scratch/pawsey0933/cfolland/t2t/nfcore/.singularity/"
}
 
// Submit up to 256 concurrent jobs, 1024 queued jobs (Setonix work partition max)
executor {
    queueSize = 256
}
 
// Define process resource limits
// See: https://support.pawsey.org.au/documentation/pages/viewpage.action?pageId=121479736#RunningJobsonSetonix-Overview
process {
    executor = 'slurm'
    errorStrategy = { task.exitStatus in ((130..145) + 125 + 104 + 255) ? 'retry' : 'finish' }
    maxRetries = 2
    maxErrors = '-1'
    clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}"
    module = 'singularity/4.1.0-slurm'
    cache = 'lenient'
    stageInMode = 'symlink'
    queue = { task.memory < 230.GB ? 'work' : (task.memory > 230.GB && task.memory <= 980.GB ? 'highmem' : '') }
}

process {
  withName: 'NFCORE_SAREK:SAREK:PREPARE_GENOME:BWAMEM2_INDEX' {
    cpus = 4
    memory = 200.GB
    time = 12.h
  }

}

process {
  withName: 'NFCORE_SAREK:SAREK:FASTQ_ALIGN_BWAMEM_MEM2_DRAGMAP_SENTIEON:BWAMEM2_MEM' {
    cpus = 12
    memory = 64.GB
    time = 16.h
  }
   
}

process {
    executor = 'slurm'
    beforeScript = 'echo "Slurm Job ID: $SLURM_JOB_ID"'
}
 
